@import "../vars.scss";

.Input {
  display: inline-block;
  font-size: 14px;
  margin-top: $BASE * 2;
  margin-bottom: $BASE * 2;

  &.Input--block {
    width: 100%;
  }

  .Input__field {
    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: 1em;
    padding: 0px;
    font-weight: 600;
  }

  .Input__field:focus {
    outline: none;
  }

  .Input__field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 20px;
  }

  .Input__label {
    color: $BRAND_COLOR_GRAY;
    pointer-events: none;
    transition: 0.2s all;
    transform: translateY(22px);
  }

  &.Input--focus,
  &.Input--has-value {
    .Input__label {
      color: $BRAND_COLOR_DARK_BLUE;
      transform: translateY(0px);
    }
  }

  border-bottom: 1px dashed $BRAND_COLOR_DARK_BLUE;
}
