@import "../vars.scss";

.Textarea {
  display: inline-block;
  font-size: 14px;
  margin-top: $BASE * 2;
  margin-bottom: $BASE * 2;

  &.Textarea--block {
    width: 100%;
  }

  .Textarea__field {
    line-height: 20px;
    width: 100%;
    padding: 0px;
    resize: none;
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: 1em;
    border-bottom: 1px dashed $BRAND_COLOR_DARK_BLUE;
    max-height: $BASE * 20;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .Textarea__field:focus {
    outline: none;
  }

  .Textarea__label {
    color: $BRAND_COLOR_GRAY;
    pointer-events: none;
    transition: 0.2s all;
    transform: translateY(22px);
  }

  &.Textarea--focus,
  &.Textarea--has-value {
    .Textarea__label {
      color: $BRAND_COLOR_DARK_BLUE;
      transform: translateY(0px);
    }
  }
}
