@import "../vars.scss";

.Block {
  display: flex;
  &.Block--center {
    justify-content: center;
    align-items: center;
  }
}

.Row {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.Grid {
  gap: $BASE*2;
  display: grid;
  column-gap: 40px;
  &.Grid--size-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.Grid--size-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.Grid--size-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.Column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // justify-content: flex-start;
  align-items: center;
  & > div {
    width: 100%;
  }
}
