@import "../../vars.scss";

$TEXT_COLOR: $BRAND_COLOR_DARK_BLUE;

$FONT_LEVEL_1: 16px;
$FONT_LEVEL_2: 14px;
$FONT_LEVEL_3: 12px;
$FONT_LEVEL_4: 11px;

.Text {
  margin: 0px;
  margin-top: $BASE * 2;
  margin-bottom: $BASE * 2;
  &.Text--center {
    text-align: center;
  }
  &.Text--left {
    text-align: left;
  }
  &.Text--right {
    text-align: left;
  }
  &.Text--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.Text--level-1 {
    color: $TEXT_COLOR;
    font-size: $FONT_LEVEL_1;
    line-height: $BASE * 5;
    font-weight: $FONT_WEIGHT_REGULAR;
  }
  &.Text--level-2 {
    letter-spacing: 0.1px;
    color: $TEXT_COLOR;
    font-size: $FONT_LEVEL_2;
    line-height: $BASE * 4;
    font-weight: $FONT_WEIGHT_REGULAR;
  }
  &.Text--level-3 {
    letter-spacing: 0.3px;
    color: $TEXT_COLOR;
    font-family: "Proxima Nova";
    font-size: $FONT_LEVEL_3;
    line-height: $BASE * 4;
    font-weight: $FONT_WEIGHT_REGULAR;
  }
  &.Text--level-4 {
    letter-spacing: 0.3px;
    color: $TEXT_COLOR;
    font-family: "Proxima Nova";
    font-size: $FONT_LEVEL_4;
    line-height: $BASE * 3;
    font-weight: $FONT_WEIGHT_REGULAR;
  }
  &.Text--bold {
    font-weight: $FONT_WEIGHT_BOLD;
  }
  &.Text--semibold {
    font-weight: $FONT_WEIGHT_SEMIBOLD;
  }
}

.Text > .Icon {
  margin-right: $BASE * 2;
  margin-left: $BASE * 2;
}
