@import "../vars.scss";

.Modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;

  &.Modal--open {
    z-index: 99999 !important;
    position: fixed;
    opacity: 1;
    visibility: visible;
  }

  &.Modal--transparent {
    & > .Modal__window > .Modal__content {
      background-color: transparent;
    }
  }
  & > .Modal__window {
    width: auto;
    position: relative;
    & > .IconButton {
      position: absolute;
      right: $BASE * 4;
      top: $BASE * 4;
    }
    & > .Modal__content {
      background-color: $BRAND_COLOR_WHITE;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: $BASE;
    }
  }
}
