@import "../vars.scss";

.IconButton {
  display: inline-block;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(1);

  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &.IconButton--round {
    width: $BASE * 10;
    height: $BASE * 10;
    background-color: transparent;
    border: 1px solid $BRAND_COLOR_DARK_BLUE;
    border-radius: 50px;
    position: relative;
    & > .Icon {
      width: auto;
      height: auto;
    }
  }
  &.IconButton--plain {
    float: left;
  }
}
