@import "vars.scss";

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Light.otf) format("opentype");
  font-weight: $FONT_WEIGHT_LIGHT;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Regular.otf) format("opentype");
  font-weight: $FONT_WEIGHT_REGULAR;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Semibold.otf) format("opentype");
  font-weight: $FONT_WEIGHT_SEMIBOLD;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Bold.otf) format("opentype");
  font-weight: $FONT_WEIGHT_BOLD;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Extrabold.otf) format("opentype");
  font-weight: $FONT_WEIGHT_EXTRABOLD;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Black.otf) format("opentype");
  font-weight: $FONT_WEIGHT_BLACK;
  font-style: normal;
}
