@import "fonts.scss";

$DEFAULT_FONT: "Proxima Nova", "Trebuchet MS", "Lucida Sans", Arial, sans-serif;

html {
  font-size: 14px;
  font-family: $DEFAULT_FONT;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
}
