@import "fonts.scss";
@import "vars.scss";

html {
  font-size: 14px;
  font-family: "Proxima Nova", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
}
