// Sizes
$BASE: 5px;

// Colors
$BRAND_COLOR_BLACK: #000000;
$BRAND_COLOR_WHITE: #ffffff;
$BRAND_COLOR_BLUE: #32bafa;
$BRAND_COLOR_DARK_BLUE: #232f3a;
$BRAND_COLOR_PINK: #ed486f;
$BRAND_COLOR_GRAY: #b9c0c4;

// Font weights
$FONT_WEIGHT_EXTRALIGHT: 200;
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_SEMIBOLD: 500;
$FONT_WEIGHT_BOLD: 600;
$FONT_WEIGHT_EXTRABOLD: 700;
