// Sizes
$BASE: 5px;

// Colors
$BRAND_COLOR_BLACK: #000;
$BRAND_COLOR_WHITE: #fff;

$BRAND_COLOR_BLUE: #32bafa;
$BRAND_COLOR_BLUE_75: rgba($BRAND_COLOR_BLUE, 0.75);
$BRAND_COLOR_BLUE_50: rgba($BRAND_COLOR_BLUE, 0.5);
$BRAND_COLOR_BLUE_25: rgba($BRAND_COLOR_BLUE, 0.25);

$BRAND_COLOR_DARK_BLUE: #232e3b;
$BRAND_COLOR_DARK_BLUE_75: #5a646e;
$BRAND_COLOR_DARK_BLUE_50: #93989f;
$BRAND_COLOR_DARK_BLUE_25: #c9ccd0;
$BRAND_COLOR_DARK_BLUE_15: #e0e1e3;
$BRAND_COLOR_DARK_BLUE_5: #f6f6f6;

$BRAND_COLOR_RED: #ea2855;
$BRAND_COLOR_PINK: #ed486f;

$BRAND_COLOR_GRAY: $BRAND_COLOR_DARK_BLUE_50;
$BRAND_COLOR_DARK_GRAY: $BRAND_COLOR_DARK_BLUE_75;

$BRAND_COLOR_YELLOW: #ffda3b;
$BRAND_COLOR_PURPLE: #c36bff;

// Font weights
$FONT_WEIGHT_EXTRALIGHT: 200;
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_SEMIBOLD: 600;
$FONT_WEIGHT_BOLD: 800;
$FONT_WEIGHT_EXTRABOLD: 900;
