@import "../../vars.scss";

$HEADER_COLOR: $BRAND_COLOR_DARK_BLUE;

.Header {
  margin: 0px;
  margin-top: $BASE * 2;
  margin-bottom: $BASE * 2;
  color: $HEADER_COLOR;
  width: 100%;
  &.Header--center {
    text-align: center;
  }
  &.Header--left {
    text-align: left;
  }
  &.Header--right {
    text-align: left;
  }
  &.Header--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1.Header {
  font-size: 46px;
  font-weight: $FONT_WEIGHT_LIGHT;
  line-height: 55px;
}

h2.Header {
  font-size: 32px;
  font-weight: $FONT_WEIGHT_LIGHT;
  line-height: 40px;
  letter-spacing: 0.1px;
}

h3.Header {
  font-size: 28px;
  font-weight: $FONT_WEIGHT_LIGHT;
  line-height: 35px;
  letter-spacing: 0.1px;
}

h4.Header {
  font-size: 22px;
  font-weight: $FONT_WEIGHT_REGULAR;
  line-height: 25px;
  letter-spacing: 0.2px;
}

h5.Header {
  font-size: 18px;
  font-weight: $FONT_WEIGHT_REGULAR;
  line-height: 20px;
  letter-spacing: 0.2px;
}
