@import "../vars.scss";

.Avatar {
  width: $BASE * 8;
  height: $BASE * 8;
  position: relative;
  & > .Avatar__image {
    border-radius: 100px;
    border: 1px solid red;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
