@import "../vars.scss";

.SocialCheckbox {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  .SocialCheckbox--block {
    width: 100%;
  }
  .SocialCheckbox__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & > .SocialCheckbox__connected {
      transition: all 0.2s;
      color: $BRAND_COLOR_BLUE;
    }
    & > .Label {
      width: 100%;
      white-space: nowrap;
      text-align: left;
    }
    & > * {
      margin-right: 10px;
      user-select: none;
    }
  }
  &.SocialCheckbox--selected {
    .SocialCheckbox__connected {
      opacity: 0.5;
    }
  }
}
