.SocialCheckbox {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  .SocialCheckbox--block {
    width: 100%;
  }
  .SocialCheckbox__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & > .Icon {
      transition: all 0.2s;
      visibility: hidden;
      opacity: 0;
      transform: scale(0.5);
    }
    & > .Label {
      width: 100%;
      white-space: nowrap;
      text-align: left;
    }
    & > * {
      margin-right: 10px;
      user-select: none;
    }
  }
  &.SocialCheckbox--selected {
    .SocialCheckbox__content > .Icon {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}
