@import "../src/components/vars.scss";

$BORDER: 1px solid $BRAND_COLOR_BLUE;

// BASIC STORY

section.story {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  padding: $BASE * 4;
  &.dark {
    background-color: $BRAND_COLOR_DARK_BLUE;
  }
  &.space-between {
    & > * {
      margin: $BASE;
    }
  }
}

// COLORS STORY
.story {
  .colors {
    .Header {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    .color {
      min-width: 75px;
      min-height: 75px;
      width: 75px;
      height: 75px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 5px;

      &.white {
        border: 2px solid $BRAND_COLOR_BLUE_25;
        background-color: $BRAND_COLOR_WHITE;
      }
      &.black {
        background-color: $BRAND_COLOR_BLACK;
      }
      &.blue {
        background-color: $BRAND_COLOR_BLUE;
      }
      &.blue-75 {
        background-color: $BRAND_COLOR_BLUE_75;
      }
      &.blue-50 {
        background-color: $BRAND_COLOR_BLUE_50;
      }
      &.blue-25 {
        background-color: $BRAND_COLOR_BLUE_25;
      }

      &.dark-blue {
        background-color: $BRAND_COLOR_DARK_BLUE;
      }
      &.dark-blue-75 {
        background-color: $BRAND_COLOR_DARK_BLUE_75;
      }
      &.dark-blue-50 {
        background-color: $BRAND_COLOR_DARK_BLUE_50;
      }
      &.dark-blue-25 {
        background-color: $BRAND_COLOR_DARK_BLUE_25;
      }
      &.dark-blue-15 {
        background-color: $BRAND_COLOR_DARK_BLUE_15;
      }
      &.dark-blue-5 {
        background-color: $BRAND_COLOR_DARK_BLUE_5;
      }

      &.pink {
        background-color: $BRAND_COLOR_PINK;
      }
      &.red {
        background-color: $BRAND_COLOR_RED;
      }

      &.yellow {
        background-color: $BRAND_COLOR_YELLOW;
      }
      &.purple {
        background-color: $BRAND_COLOR_PURPLE;
      }
    }
  }
}

// BUTTONS STORY
.story {
  &.buttons {
    .Header {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}

.story {
  .icons-table {
    border-spacing: 10px;
    border-collapse: collapse;
    td,
    th {
      padding: 5px;
      text-align: center;
      vertical-align: center;
      border: 1px solid $BRAND_COLOR_DARK_BLUE;
    }
  }

  &.dark {
    .icons-table {
      td,
      th {
        border: 1px solid $BRAND_COLOR_WHITE;
      }
      color: $BRAND_COLOR_WHITE;
    }
  }

  .grid-item {
    width: 200px;
    height: 200px;
    border: $BORDER;
  }

  p[class^="font-"] {
    font-size: 20px;
    pre {
      margin-right: 10px;
      display: inline;
      font-weight: 300;
      padding-right: 10px;
      border-right: 1px solid black;
    }
  }

  .font-100 {
    font-weight: 100;
  }
  .font-200 {
    font-weight: 200;
  }
  .font-300 {
    font-weight: 300;
  }
  .font-400 {
    font-weight: 400;
  }
  .font-500 {
    font-weight: 500;
  }
  .font-600 {
    font-weight: 600;
  }
  .font-700 {
    font-weight: 700;
  }
  .font-800 {
    font-weight: 800;
  }
  .font-900 {
    font-weight: 900;
  }
}
